.jumbotron {
    background: #864aff;
}

.jumbotron > h1 {
    font-family: 'Archivo', sans-serif !important;
    font-weight: 600;
    font-size: 65px;
    color: #00fdcb;
    letter-spacing: 2px;
}

.jumbotron > p {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
}